<template>
  <div class="container">
    <div class="column is-two-third">
      <div :class="formClass" class="form">
        <div class="field">
          <label class="label">Coin</label>
          <div class="control">
            <div class="select">
              <select @change="setDate">
                <option v-for="coin in coins" :key="coin">{{coin}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Date</label>
          <div class="control">
            <datepicker v-model="date" placeholder="European Format ('d-m-Y')" :config="{ dateFormat: dateFormat.flatpickr, static: true }"></datepicker>

          </div>
        </div>
        <div class="field">
          <label class="label">Amount (USD $$$$$$$$$$$$$$$)</label>
          <div class="control">
            <input class="input" type="text" v-model="amount" placeholder="Text input">
          </div>
        </div>
        <a class="button is-primary" @click.prevent.stop="calculate">kopen crypto mooi</a>
      </div>
      <transition name="fade">
        <div v-if="result">{{result}}</div>
      </transition>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vue-bulma-datepicker'
export default {
  data() {
    return {
      formClass: '',
      coins: [],
      dateFormat: {
        flatpickr: 'd-m-Y',
        moment: 'DD-MM-YYYY'
      },
      coin: 'BTC',
      date: '',
      amount: 100,
      result: '',
      baseUrl: 'https://min-api.cryptocompare.com/data/'
    }
  },
  components: {
    Datepicker
  },
  async mounted() {
    this.coins = await this.getCoins()
    this.coin = this.coins[0]
    this.setDate(this.coin)
  },
  methods: {
    async calculate() {
      const now = Math.round(Date.now() / 1000)
      const date = moment(this.date || now, this.dateFormat.moment).unix()
      const historicPrice = await this.getHistoricPrice(this.coin, date)
      const currentPrice = await this.getCurrentPrice(this.coin)
      const coinAmount = this.amount / historicPrice
      const profit = coinAmount * (currentPrice - historicPrice)
      this.setResult({
        historicPrice,
        currentPrice,
        profit
      })
    },
    async getHistoricPrice(coin, date) {
      const url = `${this.baseUrl}pricehistorical?fsym=${coin}&tsyms=USD&ts=${date}`
      const response = await axios.get(url)
      return response.data[coin].USD
    },
    async getCurrentPrice(coin) {
      const url = `${this.baseUrl}price?fsym=${coin}&tsyms=USD`
      const response = await axios.get(url)
      return response.data.USD
    },
    async getCoins() {
      return ['BTC', 'ETH']
    },
    async getIcoDate(coin) {
      const year = 2 * Math.random()
      return moment().subtract(year, 'year')
    },
    async setDate(coin) {
      console.log('hallo')
      const oneYearAgo = moment().subtract(1, 'year')
      const icoDate = await this.getIcoDate(coin)
      console.log(icoDate)
      console.log(oneYearAgo)
      const date = icoDate < oneYearAgo ? oneYearAgo : icoDate
      this.date = moment(date).format(this.dateFormat.moment)
    },
    setResult(result) {
      this.result = result
      this.formClass = 'hide'
    }
  }
}
</script>

<style>
.container {
  width: 800px;
  margin: 30px;
}
.hide {
  display: none;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 2.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
