<template>
  <input type="text">
</template>
<script>
import '@/../node_modules/flatpickr/dist/themes/dark.css'
export default {
  name: 'datepicker',
  props: {
    options: {
      type: Object,
      default: () => {
        return {}
      }
    },
    value: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data() {
    return {
      datepicker: null
    }
  },
  mounted() {
    const Flatpickr = require('flatpickr')
    let options = this.options
    let onChange = options.onChange || ((selectedDates, dateStr, instance) => {})
    options.onChange = (selectedDates, dateStr, instance) => {
      onChange(selectedDates, dateStr, instance)
      this.$emit('change', this.$el.value)
    }
    options.defaultDate = this.value.format('Y-MM-DD')
    this.datepicker = new Flatpickr(this.$el, options)
  }
}
</script>
