<template>
  <div id="app">
    <section class="hero is-large has-bg-img">

      <h1>Keiharde coins</h1>
      <div class="hero-body"> </div>
    </section>

    <!-- <img src="./assets/logo.png"> -->
    <Calculator/>
    <!-- <router-view/> -->
  </div>
</template>

<script>
import Calculator from '@/components/Calculator'
export default {
  components: { Calculator },
  name: 'app'
}
</script>

<style>
.has-bg-img {
  height: 200px;
  background: url("https://s.hswstatic.com/gif/now-TwuUAjsF-coins_chuckcross_eyeem_gettyimagesjpg-1210-680.jpg")center center;
  background-size: cover;
}

.hero h1 {
  font-weight: bold;
  color: #FFF;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 8%;
}
</style>
